.background {
  width: 100%;
  height: 90px;
  background:  #ee4c77;
}
 input ,span{
     margin-top: 25px;
     height: 40px;
    border: 0;
    box-shadow: none; 
    border-bottom: solid 0.7px #FFF;
    border-radius: 0px;
    background: transparent;
    padding: 8px;
    background-color: transparent;
    color:#fff;
  
}
input:focus  { 
    background-color: transparent;
    color:#fff;
    border-color:#fff; 
}

::-webkit-input-placeholder {
     opacity: 0.5;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: -0.3px;
  text-align: left;
  color: #991237;
}