<nav class="navbar navbar-toggleable-md navbar-light bg-faded background">

  <div class="form-group input-group">
    <span (click)="buscaEmpresa($event)" title="Click para buscar empresa" style="padding:3px;cursor:pointer" class="input-group-addon"
      id="basic-addon1"><img src="../assets/Imagens/ic-search-copy-2.svg"></span>
    <input type="text" value="{{nomeEmpresa}}"[(ngModel)]="nome_busca" name="nome_busca" autofocus placeholder="Pesquisar" class="form-control">
    <span style="padding:3px;cursor:pointer" class="input-group-addon" id="basic-addon1"><img src="../assets/Imagens/ic-close.svg"></span>
  </div>

</nav>
<div class="container">
  <div  class="panel panel-default"  style="cursor:pointer;height: 480px;background: #fff; margin-top:1%; border-radius:3px;">
    <div class="panel-body" style="padding:12px">
      <div class="row">
        <div align="center" class="col-12 img-company"><img width="40%" src="../assets/Imagens/img-e-1-lista.svg"></div>
      </div>
      <br>
      <p style="text-align:justify; color:darkgrey; font-size:18px">
        {{descricao}}
      </p>
    </div>
  </div>
</div>