<div class="center-form">
  <div class="conteudo">

    <article class="logo" align='center'>
      <img src="../assets/Imagens/logo-home.png" srcset="../assets/Imagens/logo-home@2x.png 2x,
             ../assets/Imagens/logo-home@3x.png 3x">
    </article>
    <article class="saudacoes">
      <p class="wel">BEM-VINDO AO <br>EMPRESAS</p>
      <p class="lo">Lorem ipsum dolor sit amet, contetur<br> adipiscing elit. Nunc accumsan.</p>
    </article>


      <div class="form-group input-group">
        <span style="padding:3px" class="input-group-addon" id="basic-addon1"><img src="../assets/Imagens/ic-email.svg"></span>
        <input type="email" [(ngModel)]="email_text" name="email_text" placeholder="Email" class="form-control">
      </div>
      <div class="form-group input-group">
        <span style="padding:3px" class="input-group-addon" id="basic-addon2"><img src="../assets/Imagens/ic-cadeado.svg"></span>
        <input style="width: 341px" [(ngModel)]="senha_text" name="senha_text" type="password" placeholder="Senha" class="form-control" >
      </div>

    <article align='center'>
      <button (click)="autenticar_user()" class="btn btn-entrar">ENTRAR</button>
    </article>
  </div>
</div>
