<nav class="navbar navbar-toggleable-md navbar-light bg-faded background">

  <div class="form-group input-group">
    <span (click)="buscaEmpresa($event)" title="Click para buscar empresa" style="padding:3px;cursor:pointer" class="input-group-addon"
      id="basic-addon1"><img src="../assets/Imagens/ic-search-copy-2.svg"></span>
    <input type="text" [(ngModel)]="nome_busca" name="nome_busca" autofocus placeholder="Pesquise pelo nome ou selecione o tipo de empresa" class="form-control">
    <span style="padding:3px;cursor:pointer" class="input-group-addon" id="basic-addon1"><img src="../assets/Imagens/ic-close.svg"></span>
  </div>

</nav>
<div class="container">
  <select (change)="buscaEmpresa($event)" [(ngModel)]="tipo_select" name='tipo_select' style="margin-top:1%;" class="form-control">
    <option value=''>BUSQUE EMPRESA PELO TIPO</option>
    <option value='1'>Agro</option>
    <option value='2'>Aviation</option>
    <option value='3'>Biotech</option>
    <option value='4'>Eco</option>
    <option value='5'>Ecommerce</option>
    <option value='6'>Education</option>
    <option value='7'>Fashion</option>
    <option value='8'>Fintech</option>
    <option value='9'>Food</option>
    <option value='10'>Games</option>
    <option value='11'>Health</option>
    <option value='12'>IOT</option>
    <option value='13'>Logistics</option>
    <option value='14'>Media</option>
    <option value='15'>Mining</option>
    <option value='16'>Products</option>
    <option value='17'>Real Estate</option>
    <option value='18'>Service</option>
    <option value='19'>Smart City</option>
    <option value='20'>Social</option>
    <option value='21'>Software</option>
    <option value='22'>Technology</option>
    <option value='23'>Tourism</option>
    <option value='24'>Transport</option>
  </select>
  <div (click)="mostrarDetalhes(empresa.id)" *ngFor="let empresa of dados_empresa" class="panel panel-default"
    style="cursor:pointer;height: 90px;background: #fff; margin-top:1%; border-radius:3px;">
    <div class="panel-body" style="padding:12px">
      <div class="row">
        <div class="col-3 img-company"><img src="../assets/Imagens/img-e-1-lista.svg"></div>
        <div class="col-9">
          <ul>
            <li class="empresa">{{empresa.enterprise_name}}</li>
            <li class="negocio">{{empresa.enterprise_type.enterprise_type_name}}</li>
            <li class="pais">{{empresa.country}}</li>
          </ul>
        </div>
      </div>
    </div>


  </div>
  <div *ngIf="dados_empresa ==false">
    <p style="text-align: center; font-size: 20px;font-family:Roboto; color:black; font-weight: bold; margin-top:1%">Não há resultados para essa combinação.</p>
  </div>
</div>