 div.center-form {
    position: relative;
    min-height: 100vh;
  }

  div.center-form > .conteudo {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateY(-25%) translateX(-50%);
  }
  .logo img {
  width: 295px;
  height: 72px;
  object-fit: contain;
}

  .wel{
   margin-top:20%;    
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #383743;
  }
.lo{
    font-family: Roboto;
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: -0.3px;
  text-align: center;
  color: #383743;
  margin-bottom:20%;  
}

form input ,span{
    border: 0;
    box-shadow: none; 
    border-bottom: solid 0.7px #383743;
    border-radius: 0px;
    background: #ebe9d7;
  
}
::-webkit-input-placeholder {
     opacity: 0.5;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: -0.3px;
  text-align: left;
  color: #383743;
}
.btn-entrar {
    margin-top:10%; 
  width: 324px;
  height: 52.8px;
  border-radius: 3.6px;
  background-color: #57bbbc;
  color: #FFF;
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
}
