.background {
  width: 100%;
  height: 151px;
  background:  #ee4c77;
}

.logo_nav{
    background: transparent;
}
.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
.navbar-brand-rigth {
  margin-left: 90%;
  cursor: pointer;
}
p{
    text-align: center;
    font-family: Roboto;
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-25%) translateX(-50%);
}