<nav class="navbar navbar-toggleable-md navbar-light bg-faded background">

  <div class="navbar-brand" >
    <img align="center" src="../assets/Imagens/logo-nav.png" srcset="../assets/Imagens/logo-nav@2x.png 2x,
             ../assets/Imagens/logo-nav@3x.png 3x" class="logo_nav">

  </div>
  <div class="navbar-brand-rigth"  routerLink='/pesquisa'>
    <img src="../assets/Imagens/ic-search-copy.svg" class="ic_search-copy">
  </div>
</nav>

<p >Clique na busca para iniciar.</p>